/* EU SOU */
.div_sou{
  background-color: #04121e;
  border-radius: 15px;
  
  width: 55%; 
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  height: 250px;
}

.h2_1_sou{
    color: rgb(235, 235, 235);
    font-size: 35px;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
}

.h2_2_sou{
    color: #fac836;
    font-size: 40px;
    text-align: left;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}

.p_sou{
    color: rgb(235, 235, 235);
    font-size: 15px;
    text-align: left;
    margin-right: 400px;
    margin-top: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.div_botoes{
    font-size: 15px;
    display: flex;
    margin-top: 15px;
    gap: 30px;
}

.div_botoes a{
    text-decoration: none;
    font-family:Arial, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block;
    transition: color 0.3s ease, transform 0.3s ease;
}

.a_historia{
    background-color: #fac836;
    color:#04121e;
}

.a_curriculo{
    background-color: transparent;
    color: rgb(235, 235, 235);
    border: 1px solid rgb(235, 235, 235);
}

.a_historia:hover {
  color: #04121e;
  transform: scale(1.1);
}

.a_curriculo:hover {
  color: rgb(235, 235, 235);
  transform: scale(1.1);
}

/* IMAGEM */
.imagem_2{
    float: right;
    width: 35%;          
    max-width: 300px;    
    height: auto;        
    border-radius: 10px;
}

/* BOX SOBRE O AUTOR */
.div_apresentacao {
  background-color: rgb(234, 234, 234);
  border-radius: 15px;

  width: 70%; 
  margin: auto;
  margin-top: 20px;
  padding: 10px 30px;
  height: 260px;
  
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
}
.h3_autor{
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-align: left;
    font-family: "Arial Narrow", sans-serif;
}

.p_autor{
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: left;
    margin-right: 400px;
    margin-top: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}